.film-card {
    display: block;
    max-width: 335px;
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 0px 80px 0px rgba(255, 255, 255, 0.33);
    background-color: $color-purple;
    outline: none;

    &:focus-visible {
        outline: none;
    }

    &__poster {
        width: 100%;
        height: auto;
        aspect-ratio: 2 / 3;
        object-fit: cover;
        display: block;
    }
}