.socials {
    display: flex;
    gap: 10px;

    @include mobile {
        gap: 24px;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(255, 255, 255, 0.8);
        border-radius: 8px;
        width: 36px;
        height: 36px;

        &:hover,
        &:focus-visible {
            border: 1px solid $color-purple;
            outline: none;

            .socials__icon {
                color: $color-purple;
            }
        }

        @include mobile {
            width: 24px;
            height: 24px;
        }
    }

    &__icon {
        color: rgba(255, 255, 255, 0.8);
    }
}