.search {
    position: relative;

    &__icon {
        position: absolute;
        color: rgba(255, 255, 255, 0.5);
        top: 12px;
        left: 16px;
    }

    &__field {
        border-radius: 8px;
        padding: 12px 12px 12px 54px;
        border: none;
        gap: 12px;
        background-color: #393B3C;
        color: rgba(255, 255, 255, 0.5);
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0em;
    }
}